#Footer
{
    width: 100%;
}
#Footer .container
{
    padding: 40px 0px;
    width: 90%;
    margin: 0 auto;
    
}
#Footer .container #Footer-main
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#Footer .container #Footer-main #Footer-sCard
{
    width: 30%;
    align-content: start;
}
#Footer .container #Footer-main #Footer-sCard h1
{
    color: white;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 2rem;
}
#Footer .container #Footer-main #Footer-sCard #footer_social_links {
    margin: 40px 0px;
}
#Footer .container #Footer-main #Footer-sCard #footer_social_links a i
{
    margin-right: 20px;
    font-size: 2rem;
    color: white;
}
#Footer .container #Footer-main #Footer-sCard a i:hover
{
    color: #dcc38b;
    transition: 0.3s ease-in-out;
}
#Footer .container #Footer-main #Footer-sCard h2
{
    color: white;
}
#Footer .container #Footer-main #Footer-sCard img {
    width: 250px;
}
#Footer .container #Footer-main #Footer-sCard h3
{
    margin-top: 10px;
    color: white;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 1.1rem;
}
#Footer .container #Footer-main #Footer-sCard > ul li , a
{
    font-size: 0.9rem;
    font-weight:normal;
    text-decoration: none;
    list-style: none;
    color:white;
}
#Footer .container #Footer-main #Footer-sCard iframe
{
    margin: 40px 0px;
}

#Footer hr
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #979092 ;
}

#Footer  #Footer-copy
{
    padding:30px 0px;
    padding-left: 50px;
    width: 90%;
    margin: 0 auto;
}
#Footer  #Footer-copy h3
{
    color:#F8F8FF;
    font-size: 1rem;
}
#Footer  #Footer-copy h3 > span
{
    color: #F8F8FF;
}

